def test{{test_class_lower}}_set_valid():
    obj = {{object_class}}()
    assert not obj.has_value()
    obj.set({{good_value}})
    assert obj.has_value()
    assert obj.get_value() == {{good_value}}
