openapi: 3.0.3
info:
  title: pxbuildConfig
  description: |-
    This is a sample pxbuildConfig based on the OpenAPI 3.0 specification. We just use the schema, so it is perhaps an abuse, but I like the editor.  
  version: 0.0.1
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
tags:
  - name: pxbuildconfig
    description: Holds configuration from pxbuild. <br>
       The admin section is typical config. After admin, you may override defaults to keywords which are assumed common to your site, like the Code for the time variable.
    externalDocs:
      description: Find out more
      url: http://swagger.io
paths:
  /pxbuildConfig:
    get:
      tags:
        - pxbuildConfig
      summary: Find pxbuildConfig by ID
      description: Returns a single pxbuildconfig
      operationId: getbuildconfig
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/buildconfig'          
            application/xml:
              schema:
                $ref: '#/components/schemas/buildconfig'
        '404':
          description: pxbuildConfig not found
components:
  schemas:
    pxbuildConfig:
      type: object
      required:
        - admin
      properties:
            admin:
              type: object
              required: 
                - validLanguages
                - theWordAnd
                - theWordBy
                - pxMetadataResource
                - pxStatisticsResource
                - pxCodesResource
                - pxDataResource
                - outputDestination
              properties:
                  pxMetadataResource:
                      type: object
                      description: What resource provides the pxmetdata-json
                      required: 
                        - adressFormat
                      properties:
                        resourceType:
                            type: string
                            enum:
                              - file
                              - s3_todo
                              - api_todo
                            default: file
                        adressFormat:
                            type: string
                            description: "The path or url to the json, given its id. Example: example_data/pxmetadata/{id}.json" 
                  pxStatisticsResource:
                      type: object
                      description: What resource provides the pxstatistics-json
                      required: 
                        - adressFormat
                      properties:
                        resourceType:
                            type: string
                            enum:
                              - file
                              - s3_todo
                              - api_todo
                            default: file
                        adressFormat:
                            type: string
                            description: "The path or url to the json, given its id. Example: example_data/pxstatistics/pxstatistics_{id}.json" 
                  pxCodesResource:
                      type: object
                      description: What resource provides the pxcodes-json
                      required: 
                        - adressFormat
                      properties:
                        resourceType:
                            type: string
                            enum:
                              - file
                              - s3_todo
                              - api_todo
                            default: file
                        adressFormat:
                            type: string
                            description: "The path or url to the json, given its id. Example: example_data/pxcodes/{id}.json"
                  pxDataResource:
                      type: object
                      description: What resource provides the datadata
                      required: 
                        - adressFormat
                      properties:
                        resourceType:
                            type: string
                            enum:
                              - file
                              - s3_todo
                              - api_todo
                            default: file
                        adressFormat:
                            type: string
                            description: "The path or url to the json, given its id. Example: example_data/parquet_files/{id}"
                  outputDestination:
                      type: object
                      description: Where to send the output
                      properties:
                        resourceType:
                            type: string
                            enum:
                              - folders
                              - s3_todo
                              - dictionary_todo
                            default: folders
                        pxFolderFormat:
                            type: string
                            description: "Aplies to resourcetype=folders. The folder where the .px-files are written. id is the tableID. Example: example_data/pxbuild_output/{id}"
                        aggFolderFormat:
                            type: string
                            description: "Aplies to resourcetype=folders. The folder where the .vs- and .agg-files are written. id is the tableID. Example: example_data/pxbuild_output/id}"                                
                  validLanguages:
                     type: array
                     items:
                        type: string
                     description: The 2-letter languagecodes. Probably ISO 639, but the real constraint is that it has to match your pxweb
                  buildMultilingualFiles:
                     type: boolean
                     description: make multilingual PX-files, not one for each language. If true, the first entry in validLanguages will be used for language keyword.
                     default: true
                  skipCreationDate:
                     type: boolean
                     description: should the CREATION-DATE keyword be skipped. Usefull (only) for pytests that compare PX-files.
                     default: false
                  theWordAnd:
                     type: object
                     additionalProperties:
                        type: string
                        description: "For title creation, the word *and* separating variable n and n-1.     Example: 'no:og,en:and'"                         
                  theWordBy:
                     type: object
                     additionalProperties:
                        type: string
                        description: "For title creation, the word *by* just before the variable list. example: 'no:etter,en:by'"
              description: These properties does not enter the pxfile directly 
              
            charset:
              type: string
              maxLength: 20            
              description: "example: ANSI"
            axisVersion:
              type: string
              maxLength: 20
              description: "Version of px-file format.  example: '2013'"
            codePage:
              type: string
              maxLength: 20
              default: iso-8859-1
              description: "example: iso-8859-1"
            descriptionDefault:
              type: boolean
              default: false
            contvariable:
              type: object
              minProperties: 1
              additionalProperties:
                type: string
                maxLength: 256
              description: Name for content variable
            contvariableCode:  
              type: string
              description: Code for content variable
              default: ContentCode
            timevariableCode:  
              type: string
              description: Code for the time variable
              default: Time  
            datasymbol1:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How 1-6 dots in data, are shown on screen    
            datasymbol2:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How 1-6 dots in data, are shown on screen    
            datasymbol3:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How 1-6 dots in data, are shown on screen    
            datasymbol4:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How 1-6 dots in data, are shown on screen    
            datasymbol5:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How 1-6 dots in data, are shown on screen    
            datasymbol6:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How 1-6 dots in data, are shown on screen    
            datasymbolNil:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: How stored - are shown on screen  
            datasymbolSum:
              type: object
              additionalProperties:
                type: string
                maxLength: 20
              description: This if used to indicate how a sum of differing numbers of dots will be shown. The sum is stored as “…….”.
            source:
              type: object
              additionalProperties:
                type: string
                maxLength: 256
              description: Name for content variable
           